**Задание**

Нужно найти всё молоко бренда «Домик в деревне» для этого заполнить колонку «check», в ней
проставить значения 1 или 0, где 1 — соответствует искомому бренду, 0 — не соответствует.
Обращайте внимание, что бренд может быть написан по-разному (возможны сокращения и
орфографические ошибки), так же могут попадаться товары, не относящиеся к категории молоко.

**Решение**

Импортируем библиотеку pandas для работы с данными в формате таблиц и re для работы с регулярными отношениями

In [4]:
import pandas as pd
import re

Загружаем данные

In [6]:
data = pd.read_csv('milk.csv', sep = ';')

In [7]:
data.head()

    brand                                       product_name  check
0  moloko                   молоко домик в деревне 3 5% 0 2л    NaN
1  moloko  молоко ультрапастериз 2 5% село домашкино 900г...    NaN
2  moloko     молоко стерилиз домик в деревне 3 2% 950гр тва    NaN
3  moloko                   молоко домик в деревне 1 5% 950г    NaN
4  moloko  молоко домашенька 3 2% пэт 1 4л оао белореченс...    NaN

Заполняем колонку *check* нулями

In [9]:
data['check'] = 0

Создаем регулярные выражения для поиска строки "Домик в деревне" и "молоко" соответственно. Используем символ r перед строкой, чтобы указать, что символы в ней должны рассматриваться буквально, без использования специальных символов.

In [11]:
pattern_brand = r"Домик"

pattern_product = r"молоко"

Применяем регулярные выражения к столбцу "product_name". Метод str.contains() ищет совпадения с регулярным выражением. Параметр case=False позволяет игнорировать регистр букв, а na=False - обрабатывать пропущенные значения. Используем оператор &, чтобы выделить только товары, соответствующие обоим условиям.

In [13]:
data['check'] = (data['product_name'].str.contains(pattern_brand, case=False, na=False) & 
                data['product_name'].str.contains(pattern_product, case=False, na=False).astype(int))

Подсчитаем количество нужных нам строк

In [15]:
data['check'].sum()

2462

Выведем первые 10 строк с 1 в check

In [17]:
data[data['check'] == 1].head(10)

     brand                                       product_name  check
0   moloko                   молоко домик в деревне 3 5% 0 2л   True
2   moloko     молоко стерилиз домик в деревне 3 2% 950гр тва   True
3   moloko                   молоко домик в деревне 1 5% 950г   True
5   moloko               молоко домик в деревне 0 5% 1л 1 000   True
8   moloko                   молоко домик в деревне 3 2% 950г   True
9   moloko                   молоко домик в деревне 2 5% 1 0л   True
10  moloko  молоко пастеризованное домик в деревне отборно...   True
11  moloko  молоко домик в деревне ультрапаст 0 5% 923 мл ...   True
13  moloko  молоко ультрапастеризованное 3 2% домик в дере...   True
14  moloko  молоко домик в деревне ультрапаст 1 5% 950 гр ...   True

In [27]:
data.to_csv('data.csv', index=False)